:root {
  --color-primary: white;
  --color-secondary: black;
  --header-height: 7rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// RWD Breakpoints
$bp-large: 62.5em; // 1000px
$bp-medium: 43.75em; // 700px
$bp-small: 31.25em; // 500px

html {
  background-color: var(--color-primary);
  color: white;
  font-family: "Fira Code", monospace;

  font-size: 62.5%; // 10px

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; // 8px
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-top: var(--header-height);
}
button {
  border: none;
  background-color: transparent;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
